
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
 :root { --primary-color: #fd2667;
--light-pink: #ff7e94;
--medium-gray:  #e5e7eb;}
 hr {
     margin: 2rem 0rem;
 }

body {font-family: 'Montserrat', sans-serif; 
 margin: 0px;   

 }
 /* --primary-color:#f83c61; */
 /* --light-pink: #fca5a5; */
 
/* container */

.container {
    padding-left: 1rem;
    padding-right: 1rem;

}

.container-center {
    max-width: 600px;
    margin: auto;
   
}

/* links */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    
}

.link-primary {
    background-color: var(--primary-color);

border-radius: 0.5rem;
color: aliceblue;
}

.link-secondary {
    border-radius: 0.5rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.link-secondary:hover {
    background-color:#ffd2d2;
}
 /* list */

.list-non-bullet {

    list-style: none;
    text-align: center;
    margin: 0px;
}

.list-item-inline {
    display: inline;
    text-align: center;
}

.ordered-list{
    padding: 0.2rem;
    border-radius: 0.6rem;
    max-width: 95%;
}

 /* nav */

.navigation {
    background-color: var(--primary-color);
    color: aliceblue;
    padding: 2.5rem 0.5rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;

}
.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
    
}

.navigation .link-active {
    font-weight: bold;
}
.navigation .link {
    color: aliceblue;
}

 .navigation .nav-pills {
    text-align:right;
}



/* header */

.hero .hero-img {
    max-width: 262px;
    display: block;
    margin: auto;
    padding: 4rem;
}
.hero .hero-heading {
    padding: 2rem;
    text-align: center;
    color: var(--light-pink);
    font-size:x-large;
    
}

 .hero .hero-heading .hero-inverted {
     color: var(--primary-color) ;
 }

 /* section */
 .section {
     padding: 1.5rem ;
     margin: auto;
     max-width: 70%;
     text-align: center;
     border-radius:1.6rem;

    
 }

 .section .h1 {
     text-align: center;
 }

 .ow {
     background-color: #fcc9d2; 
    
 }



 
 /* footer */

 .footer {
     background-color:  var(--primary-color);
     padding-top: 2.5rem;
     padding-bottom: 2.2rem;
     text-align: center;
     border-top-right-radius: 1rem;
     border-bottom-left-radius:1rem ;
     color: #f3f3f3;
     margin-top: 0.5rem;
 }

 .footer .link {
     color: aliceblue;
     text-align: center;
     margin: auto;
     
 }

 .footer .text-align {
     text-align: center;
     margin: 0px;
 }


.footer .list-non-bullet {
    
    list-style: none;
    text-align: center;
    padding: 1.5rem;
}

.footer .footer-header {
    font-size: large;
    font-weight: bold;
}
.footer ul {
padding-inline-start: 0px;
}

.socialIcon {
    display: inline-block;
    block-size: 2.1rem;
    margin-top: 1rem;
padding: 0rem 0.8rem;}


/* ol list */

.ordered-list .point-space {
    padding: 0.6rem 1rem;
   
}

.ordered-list .spacing {
    margin-top: 2rem;
    margin-bottom:4rem;
}

.ordered-list {
    text-align: center;
    list-style: none;
}


p {
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
  
}

.mark {
    text-decoration: none;
    padding: 0.15rem 1rem;
    text-align: center;
    width: 50%;
    margin: auto;
    border: none;
    font-weight: bold;
    background-color:#ffdbdb ;
}
